<!DOCTYPE html>
<html>
  <head>
    <title>CPM-program</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header id="header">
<div class="logo-space">
    <h1 class="title-logo"><%= link_to("CPM-program","/CPM-program")%></h1>
</div>
<nav class="header-nav-left">
    <ul class="header-list">

    </ul>
</nav>
<nav class="header-nav-right">
    <ul class="header-list-icon">
    <li class="list-icon-item"><%= link_to(image_tag("/mail-icon.png"), "/CPM-program/users/index") %></li>
        <li class="list-icon-item"><%= link_to(image_tag("/ring-icon.png"), "/CPM-program/users/index") %></li>
        <li class="list-icon-item"><%= link_to(image_tag("/human-icon.png"), "/CPM-program/users/index") %></li>
    </ul>
</nav>
</header>
<% if flash[:notice]%>
<div class="flash">
  <%= flash[:notice]%>
</div>
<% end %>
    <%= yield %>
  </body>
</html>

