<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header id="header">
<div class="logo-space">
    <h1 class="title-logo"><%= link_to("CPM-program","/")%></h1>
</div>
<nav class="header-nav-left">
    <ul class="header-list">
        <li class="header-list-item"><%= link_to("演習機能","/posts/new")%></li>
        <li class="header-list-item"><%= link_to("Rubyクイズ","/quiz/index")%></li>
        <li class="header-list-item"><%= link_to("本日の応用問題","/posts/index")%></li>
        <li class="header-list-item"><%= link_to("新規登録", "/signup")%></li>
    </ul>
</nav>
<nav class="header-nav-right">
    <ul class="header-list-icon">
        <li class="list-icon-item"><a href=""><img src="/mail-icon.png" alt=""></a></li>
        <li class="list-icon-item"><a href=""><img src="/ring-icon.png" alt=""></a></li>
        <li class="list-icon-item"><a href=""><img src="/human-icon.png" alt=""></a></li>
    </ul>
</nav>
</header>
<% if flash[:notice]%>
<div class="flash">
  <%= flash[:notice]%>
</div>
<% end %>
    <%= yield %>
  </body>
</html>

